$color-primary: #007BFF;
$color-secondary: #28a745;
$color-warning: #ffc107;
$color-danger: #dc3545;
$color-dark: #343a40;
$color-light: #f9f9f9;
$color-muted: #6c757d;
$color-border: #ddd;
$color-shadow: rgba(0, 0, 0, 0.1);

.documents-section-client {
  font-family: 'Arial', sans-serif;
  background-color: $color-light;
  border-radius: 8px;
  box-shadow: 0 4px 6px $color-shadow;
  padding: 20px;
  margin-bottom: 20px;

  h2 {
    font-size: 1.4em;
    color: $color-dark;
    margin-bottom: 10px;
    text-align: center;
  }

  p {
    color: $color-muted;
    text-align: center;
    margin-bottom: 15px;
  }

  .form-item {
    background: #fff;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: 0 1px 3px $color-shadow;
    transition: all 0.3s ease;

    &__title {
      font-size: 1.1em;
      color: $color-dark;
      margin-bottom: 8px;
      text-align: center;
    }

    &__buttons {
      display: flex;
      flex-direction: column;
      align-items: center;

      button {
        width: 100%;
        background: $color-primary;
        color: #fff;
        border: none;
        padding: 10px 15px;
        border-radius: 5px;
        font-size: 0.9em;
        cursor: pointer;
        transition: background 0.3s ease;

        &:hover {
          background: darken($color-primary, 10%);
        }

        &:not(:last-child) {
          margin-bottom: 10px;
        }

        &.download-pdf {
          background: $color-secondary;

          &:hover {
            background: darken($color-secondary, 10%);
          }
        }

        &.fill-online {
          background: $color-warning;

          &:hover {
            background: darken($color-warning, 10%);
          }
        }
      }

      span {
        margin: 10px 0;
        font-size: 0.9em;
        color: $color-muted;
      }

      .form-item__upload {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

        label {
          font-size: 0.85em;
          color: $color-dark;
          margin-bottom: 5px;
          text-align: center;
        }

        input[type="file"] {
          width: 100%;
          margin-bottom: 10px;
          font-size: 0.8em;
        }

        button {
          width: 100%;
          background: $color-primary;
          padding: 10px 15px;
          font-size: 0.9em;

          &:hover {
            background: darken($color-primary, 10%);
          }
        }
      }
    }
  }

  .document-present {
    font-size: 0.85em;
    margin-top: 10px;
    color: $color-secondary;
    font-weight: bold;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;

    .download-pdf {
      background: $color-secondary;
    }

    .download-link {
      color: $color-primary;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .document-missing {
    font-size: 0.85em;
    margin-top: 10px;
    color: $color-danger;
    font-weight: bold;
    text-align: center;
  }

  @media (min-width: 768px) {

    h2 {
      font-size: 1.6em;
      margin-bottom: 20px;
    }

    p {
      font-size: 1em;
      margin-bottom: 20px;
    }

    .form-item {
      padding: 20px;
      margin-bottom: 20px;

      &__title {
        font-size: 1.4em;
        margin-bottom: 15px;
      }

      &__buttons {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        button {
          width: auto;
          font-size: 1em;
          margin-bottom: 0;

          &:not(:last-child) {
            margin-right: 10px;
            margin-bottom: 0;
          }
        }

        span {
          margin: 0 10px;
          font-size: 1em;
        }

        .form-item__upload {
          flex-direction: row;
          align-items: center;
          width: auto;

          label {
            font-size: 1em;
            margin-right: 10px;
          }

          input[type="file"] {
            width: auto;
            font-size: 0.9em;
            margin-right: 10px;
          }
        }
      }
    }
  }

  @media (min-width: 1024px) {

    h2 {
      font-size: 1.8em;
    }

    .form-item {
      padding: 25px;

      &__title {
        font-size: 1.4em;
      }

      &__buttons {
        button {
          font-size: 1.1em;
        }
      }
    }
  }
}

.details-element-zestaw {
  overflow-x: auto; // Umożliwia przesuwanie tabeli na urządzeniach mobilnych
  background-color: $color-light;
  border-radius: 8px;
  box-shadow: 0 4px 6px $color-shadow;
  padding: 20px;
  margin-bottom: 20px;
  tr {
    td {
      vertical-align: middle;
      color: $color-dark;
      word-wrap: break-word;
      white-space: normal;

      &.selected-items-image img {
        max-width: 50px;
        max-height: 50px;
        border-radius: 5px;
      }
    }
  }
}

.modal-overlay-edit-client {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;

  .modal-content {
    max-width: 600px;
    width: 100%;
    padding: 30px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  }

  .modal-content h2 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
    color: #333;
  }

  .modal-content p {
    font-size: 1em;
    margin-bottom: 10px;
    font-weight: bold;
    color: #555;
  }

  .modal-content input[type="text"],
  .modal-content input[type="date"],
  .modal-content select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
    box-sizing: border-box;
  }

  .modal-content input[type="text"]:focus,
  .modal-content input[type="date"]:focus,
  .modal-content select:focus {
    border-color: #007BFF;
    outline: none;
  }

  .modal-content label {
    display: block;
    margin-bottom: 5px;
    color: #333;
  }

  .modal-content .form-group {
    margin-bottom: 15px;
  }

  .modal-content .modal-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }

  .modal-content .modal-actions button {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .modal-content .modal-actions button:hover {
    background-color: #0056b3;
  }

  .modal-content .modal-actions button:last-child {
    background-color: #dc3545;
  }

  .modal-content .modal-actions button:last-child:hover {
    background-color: #c82333;
  }

  .modal-content .form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
  }

  .modal-content .form-row .form-group {
    width: 48%;
  }

  @media (max-width: 768px) {
    .modal-content .form-row {
      flex-direction: column;
    }

    .modal-content .form-row .form-group {
      width: 100%;
    }
  }
}

