$color-menu: #B59C8F;
$color-main: #4929e5;
$color-main2: #5A5414;
$color-gold: #BBAD0E;
$color-pink: #dec5ff;
$color-grey: black;
$color-green: #15f567;
$color-blue: #4929e5;
$color-yellow: #b7c444;
$color-bordo: #741212;
$color-lightBlue: #30d4ff;
$color-limon: #bcff00;