@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Cormorant+Garamond:wght@400;700&family=Indie+Flower&family=Lora:wght@400;600&family=Playfair+Display:wght@400;600&family=Poppins&family=Quicksand:wght@400;500&family=Tangerine:wght@700&display=swap');$font-base: 'Calibri', sans-serif;
$font-head: 'Amatic SC', cursive;
$font-primary: 'Playfair Display', serif;
$font-poppins: 'Poppins', sans-serif;
$font-alt: 'Quicksand', sans-serif;
$font-base: 'Calibri', sans-serif;
$font-head2: "times new roman", sans-serif;
$font-content: "sergoe UI", sans-serif;
