.benefits-section {
  text-align: center;
  margin: 40px 0;

  h2 {
    font-size: 2em;
    margin-bottom: 20px;
    display: inline-block;
    padding-top: 15px;
    position: relative;
    font-family: "Bookman Old Style";

    &::after {
      content: '';
      position: absolute;
      left: 50%;
      top: -5px;
      width: 50%;
      height: 1px;
      background-color: $color-gold;
      transform: translateX(-50%);
    }
  }

  .benefits-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    font-family: 'Avenir', sans-serif;

    .benefit-card {
      flex: 1 1 100%;
      max-width: 300px;
      padding: 20px;
      background: #fff;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      border-radius: 10px;
      text-align: center;

      img {
        margin-bottom: 10px;
      }

      h3 {
        font-size: 1.5em;
        font-weight: bold;
        margin: 10px 0;
      }

      p {
        color: #666;
        font-size: 1.2em;
        line-height: 30px;
      }
    }
  }

  @media (min-width: 768px) {
    .benefit-card {
      flex: 1 1 calc(33.333% - 40px);
    }
  }
}
