@import "./settings/_colors.scss";
@import "./settings/_fonts.scss";
@import "reset";
@import "./settings/_variables";


html {
  font-size: 8px;
  text-decoration: none;

}
body {
  font-family: $font-alt;
  font-size: 8px;
  color: $color-grey;
  overflow-x: hidden;
  @media (min-width: 2690px) {

  }
}

a {
  color: white;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}

h1 {
  font-family: $font-primary;
}

.view {
  opacity: 0;
  transform: translateY(-50px);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  &.visible {
    opacity: 1;
    transform: translateY(0);
  }
}