.header {
  width: 100%;
  background: radial-gradient(circle at center, #474747, #080808);
  color: white;
  padding: 20px 0;
  position: relative;
  z-index: 1000;

  .header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-top: 0.5px solid white;
    border-bottom: 0.5px solid white;

    .logo-container {
      flex-grow: 1;
      display: flex;
      justify-content: center;

      .logo-container-img {
        margin-left: 120px;

        .logo-image {
          position: relative;
          width: 300px;
          height: 50px;
        }
      }

      @media (max-width: 768px) {
        .logo-container-img {
          margin-left: 0;
        }
      }

    }

    @media (max-width: 768px) {
      .login-panel-desktop {
        display: none !important;
      }
    }

    .login-panel {
      display: flex;
      align-items: center;

      .login-panel-logout,
      .login-panel-login {
        display: flex;
        flex-direction: column;
        align-items: center;
        background: transparent;
        padding: 8px 10px;
        font-size: 1em;
        transition: all 0.5s ease-in-out;

        .login-text {
          margin-bottom: 5px;
        }

        .logout-button {
          background-color: white;
          color: black;
          border: none;
          padding: 5px 10px;
          border-radius: 5px;
          cursor: pointer;
          transition: background-color 0.3s ease;

          &:hover {
            background-color: #d4af37;
          }
        }

        a {
          color: #d4af37;
          text-decoration: none;
          transition: color 0.3s ease;

          &:hover {
            color: white;
          }
        }
      }

      a.login-text {
        color: #d4af37;
        text-decoration: none;
        transition: color 0.3s ease;

        &:hover {
          color: white;
        }
      }
    }
  }

  .nav-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    @media (max-width: 768px) {
      margin: 20px 20px 0 0;
      justify-content: flex-end;
    }

    .hamburger-menu {
      display: none;
      cursor: pointer;

      .hamburger,
      .activeHamburger {
        position: relative;
        width: 30px;
        height: 3px;
        background: #fff;
        border-radius: 5px;
        transition: all 0.5s ease-in-out;

        &::before,
        &::after {
          content: '';
          position: absolute;
          width: 30px;
          height: 3px;
          background: #fff;
          border-radius: 5px;
          transition: all 0.5s ease-in-out;
        }

        &::before {
          transform: translateY(-10px);
        }

        &::after {
          transform: translateY(10px);
        }
      }

      .activeHamburger {
        background: transparent;
        top: -80px;
        right: 20px;
        z-index: 1000;

        &::before {
          transform: rotate(45deg);
        }

        &::after {
          transform: rotate(-45deg);
        }
      }

      @media (max-width: 768px) {
        display: block;
      }
    }

    .nav {
      ul {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        list-style: none;
        padding: 0;

        li {
          display: flex;
          align-items: center;
          padding: 10px 20px;
          transition: transform 0.3s ease;

          &:hover {
            transform: scale(1.1);
          }

          .nav-image {
            margin-right: 10px;
          }

          a {
            font-size: 1.2em;
            transition: color 0.3s ease;

            &:hover {
              color: #d4af37;
            }
          }
        }
      }

      @media (max-width: 768px) {
        display: none;
      }
    }

    .sidenav {
      position: fixed;
      top: 0;
      right: 0;
      width: 100%;
      height: 100vh;
      background: linear-gradient(135deg, #eeeeee, #797979);
      transform: translateX(100%);
      transition: transform 0.5s ease-in-out;
      padding-top: 100px;
      overflow-y: auto;
      z-index: 5;

      &.active {
        transform: translateX(0);
      }

      ul {
        list-style: none;
        padding: 0;

        li {
          display: flex;
          align-items: center;
          margin: 10px 20px;
          padding: 15px 20px;
          background: rgba(255, 255, 255, 0.1);
          border-radius: 8px;
          transition: background 0.3s ease, transform 0.3s ease;
          justify-content: center;

          &:hover {
            background: rgba(255, 255, 255, 0.2);
            transform: scale(1.05);
          }

          .nav-image {
            margin-right: 10px;
          }

          a {
            color: black;
            font-size: 1.5rem;
            font-weight: 500;
            text-decoration: none;
            transition: color 0.3s ease;

            &:hover {
              color: #ffd700;
            }
          }
        }
      }

      .login-panel-mobile-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 1.5em;
        color: black;
        margin-top: 50px;
        font-weight: bold;
      }
    }
  }

  .login-panel-logout, .login-panel-mobile a {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-size: 1.5em;
    a {
      color: black;
    }
    .login-text {
      margin: 20px 0;
    }
  }

  @media (max-width: 768px) {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }
}

@media (min-width: 769px) {
  .login-panel-mobile {
    display: none;
  }
}
.button-login {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 50px;
  padding: 10px 10px;
  border: 1px solid #d4af37; // Złoty border
  color: #d4af37;
  text-decoration: none;
  border-radius: 5px;
  margin-bottom: 10px;
  transition: background-color 0.3s;
  background-color: transparent;
  font-size: 1.1em;
  &:hover {
    background-color: rgba(212, 175, 55, 0.2);
  }

  img {
    margin-right: 10px;
  }
}
