.how-it-works-container {
  background-color: #fff;
  padding: 20px;
  background-image: url("../public/assets/images/chessboard.webp");
  background-size: cover;
  background-repeat: repeat-y;
  font-family: 'Avenir', sans-serif;

  @media (min-width: 768px) {
    padding: 40px 20px;
  }
}

.how-it-works-section {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  p:nth-child(1) {
    position: relative;

    &::after {
      content: '';
      position: absolute;
      left: 50%;
      bottom: -10px;
      width: 10%;
      height: 2px;
      background-color: $color-gold;
      transform: translateX(-50%);
    }
  }
  h2 {
    font-size: 2em;
    margin-bottom: 10px;
    display: inline-block;
    padding-top: 5px;
    font-family: "Bookman Old Style";
  }

  p {
    font-size: 1.4em;
    margin: 30px 0;
    line-height: 1.5;
  }

  .steps-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
  }

  .step-card {
    position: relative;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    text-align: left;
    width: calc(100% - 40px);
    overflow: visible;
    z-index: 0;
    margin: 10px;
    @media (min-width: 768px) {
      margin: 50px;
    }
    &:hover {
      transform: translateY(-10px);
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    }

    .step-header {
      position: absolute;
      top: -15px;
      left: 50%;
      transform: translateX(-50%);
      background-color: #fff;
      border: 1px solid #ddd;
      border-radius: 10px 10px 0 0;
      padding: 5px 10px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      font-weight: bold;
      font-size: 0.9em;
      text-align: center;
      min-width: 100px;
      z-index: 100;
    }
    .image-wrapper {
      position: relative;
      width: 100%;
      height: 150px;
      margin-bottom: 20px;
      display: flex;
      justify-content: center;
    }

    img {
      object-fit: contain;
      object-position: center;
    }
    h4 {
      font-size: 1.3em;
      margin-top: 30px;
      margin-bottom: 10px;
      font-weight: bold;
    }

    p {
      font-size: 1.3em;
      line-height: 1.5;
      margin-bottom: 20px;
    }

    .foto {
      position: relative;
      width: 50%;
      height: 100px;
    }

    @media (min-width: 768px) {
      width: calc(50% - 40px);
    }

    @media (min-width: 1024px) {
      width: calc(33% - 20px);
    }
  }

  .action-button {
    margin-top: 30px;
    a {
      background: black;
      color: white;
      padding: 10px 10px;
      border: none;
      border-radius: 5px;
      font-size: 1.1em;
      cursor: pointer;
      transition: transform 0.3s;
      &:hover {
        color: black;
        transform: scale(3);
        background-color: $color-gold;
      }
      @media (min-width: 500px) {
        padding: 10px 30px;
        font-size: 1.5em;
      }
    }
  }
}