.search-component {
  position: relative; /* Aby mieć podstawę dla pozycjonowania absolutnego */
  z-index: 1;
  margin: 0;
  text-align: center;
  padding: 20px;
  box-shadow: 0 0 10px grey;
  @media (max-width: 730px) {
    padding: 0;
  }

  .video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -100;
    box-shadow: 0 0 10px grey;


    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
      opacity: 0.3;

    }
  }

  .video-background::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px; /* Wysokość cienia */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
    pointer-events: none; /* Aby nie zakłócać interakcji z wideo */
  }

}

.intro-text {
  font-size: 1.2em;
  margin: 20px;
  line-height: 2;
  color: black;
  background: rgba(255, 255, 255, 0.8);
  padding: 10px;
  border-radius: 5px;
  display: inline-block;
  font-family: 'Avenir', sans-serif;

  @include mobile-mini-plus {
    font-size: 1.5rem;
  }
  @include tablet {
    font-size: 2rem;
  }
}


.search-box {
  font-family: 'Avenir', sans-serif;
  //background: rgba(255, 255, 255, 0.6);
  padding: 20px;
  margin: 0 10px;
  //box-shadow: 0 0 10px grey;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include mobile-mini-plus {
    margin: 0 50px;
    margin: 50px 200px;
  }

  @include tablet {
    //margin: 0 30vw;
  }

  p {
    font-size: 2rem;
    padding: 10px;
    font-family: auto;
    font-weight: bold;
    @include mobile-mini-plus {
      font-size: 2rem;
    }

    @include tablet {
      font-size: 3rem;
    }
  }

  input {
    padding: 10px 2px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 10px;
    width: auto;
    text-align: center;
    font-size: 1.1em;
    font-weight: bold;

    @include mobile-mini-plus {
      padding: 10px;
      width: 200px;
      margin: 20px;
      font-size: 1.2em;
    }
  }

  button {
    padding: 10px 20px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    background-color: black;
    color: white;
    cursor: pointer;
    font-size: 1.2em;
    @include tablet {
      font-size: 1.5rem;
    }

    &:hover {
      background-color: #333;
    }
  }
}

.react-autosuggest-container {
  position: relative;
  width: 100%;

  .react-suggestions-list {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: white;
    border: 1px solid #ddd;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 10;
    max-height: 200px;
    overflow-y: auto;
    margin-top: 2px;


  }
}


.react-autosuggest__suggestions-container {
  padding: 10px;
  cursor: pointer;
  font-size: 1.5em;
}

.react_autosuggest__suggestion {
  cursor: pointer;
  padding: 10px 20px;
  background-color: grey;

}


.react_autosuggest__suggestion__highlighted {
  background-color: grey;
}

button {
  padding: 10px 20px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  background-color: black;
  color: white;
  cursor: pointer;
  font-size: 1.2em;

  &:hover {
    background-color: #333;
  }
}


.contact-options {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  font-family: 'Avenir', sans-serif;

}

.option {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 5px;
  font-size: 1.4rem;
  transition: all 0.5s ease-in-out;

  @include tablet {
    font-size: 1.5em;
    padding: 30px;
  }

  .option-select {
    margin: 10px;
    width: 200px;
    padding: 8px 5px;
    border-radius: 10px;
    border: 1px solid $color-gold;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    @include mobile-mini-plus {
      padding: 8px 30px;
    }

    p {
      font-size: 1em;
      text-decoration: none;
      font-weight: 500;
    }
    @media (min-width: 768px) {
      width: auto;
    }
  }
  @media (min-width: 768px) {
    &:hover {
      transform: scale(1.1);
    }
  }
}
.option-down {
  font-size: 1em;
}
.option div {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
}
.option a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
}
.option img {
  margin-right: 10px;
}

@media (max-width: 768px) {
  .contact-options {
    flex-direction: column;
  }

  .option {
    margin-bottom: 10px;
  }
}

.home-title {
  background-color: white;
  z-index: 5;
  padding: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 5px;
}

.home-title h2 {
  padding: 5px;
  text-align: center;
  font-weight: bold;
  font-size: 2.5rem;
  @media (min-width: 768px) {
    font-size: 3rem;
  }
}
